.product-section {
  padding: 0 0 4rem 0;
  max-width: 90%;
  margin: 0 auto;

  &__title {
    padding: 4rem 0;
    text-align: center;
    font-size: 4rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4rem;
  }

  img {
    width: 100%;
    height: 400px;
    object-fit: cover;
  }

  .product-desc {
    h3 {
      padding: 2rem 0;
      font-size: 3rem;
    }

    p {
      font-size: 2rem;
    }
  }
}
